{% extends 'control/base.html' %}
{% load static %}

{% block title %}Конфигурации | Anata-SYN{% endblock title %}

{% block add %}
<div class="ms-auto d-block">
  <div class="btn-group">
<label for="officeedit"><a class="btn btn-outline-primary">Изменить</a></label>
  </div>
</div>
{% endblock add %}
{% block page_title %}Добавить О нас{% endblock page_title %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card radius-10 w-100 p-4">
        {% if base.code == "edit" %}
        <div class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Информация о нас изменилась</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% endif %}
        <form action="{% url 'control_aboutus_edit' %}" method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="card-body">
          <div class="row g-3 mt-2 align-items-center d-flex">
              {% if request.user.account.role == 'developer' %}
              <div class="col-6 form-check-danger form-check form-switch">
          <input class="form-check-input" name="category_imgs" type="checkbox" {% if base.office.category_imgs %} checked="" {% endif %}>
          <label class="form-check-label" for="flexSwitchCheckCheckedDanger">Изображение категория</label>
              </div>
              {% endif %}
              {% if request.user.account.role == 'developer' %}
              <input type="hidden" name="user_dev" value="True">
              {% else %}
                <input type="hidden" name="user_dev" value="False">
              {% endif %}            
            </div>
          </div>
          <input type="submit" class="d-none" id="officeedit">
        </form>
      </div>
      </div>
  </div>


{% endblock content %}

{% block js_content %}

<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
  ClassicEditor.defaultConfig = { 
    toolbar: { 
      items: [ 
        'heading', 
        '|', 
        'bold', 
        'italic', 
        '|', 
        'bulletedList', 
        'numberedList', 
        '|', 
        'insertTable', 
        '|', 
 
        'undo', 
        'redo' 
      ] 
    }, 
 
    table: { 
      contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'] 
    }, 
    language: 'en' 
  }; 
  ClassicEditor.create(document.querySelector("#editor")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor1")).catch((error) => { 
    console.error(error); 
  });
</script>

<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $(".alert").alert('close'), 6000)
  </script>
{% endblock js_content %}