{% extends 'control/base.html' %}
{% load static %}

{% block title %} Добавить новое категория| Yola{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="#.">О нас</a></li>
<li class="breadcrumb-item active" aria-current="page">Добавить</li>
{% endblock breadcrumb %}
{% block add %}
<div class="ms-auto d-block">
  <div class="btn-group">
<label for="officeedit"><a class="btn btn-outline-primary">Изменить</a></label>
  </div>
</div>
{% endblock add %}
{% block page_title %}Добавить О нас{% endblock page_title %}

{% block content %}

<div class="row">

    <!-- @@@@@@@@@ About Start @@@@@@@@@@@@@@ -->
    <div class="col-12">
      <div class="card radius-10 w-100 p-4">
        {% if base.code == "edit" %}
        <div class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Информация о нас изменилась</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% endif %}
        <form action="{% url 'control_aboutus_edit' %}" method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="card-body">
          <div class="row g-3 mt-2 align-items-center d-flex">
            <div class="col-md-12">
              <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="shadow text-center">
                  {% if about.logo %}
                      <a><label for="logofile"><img src="{{about.logo.url}}" alt="..." class="" height="300" width="300" style="cursor: pointer;"></label></a>
                      <input type="file" name="file" class="form-control has-validation d-none" accept="image/png, image/jpeg" id="logofile">
                    {% else %}
                      <a><label for="logofile"><img src="{% static 'control/assets/images/anata.png' %}" alt="..." class="" height="300" width="300" style="cursor: pointer;"></label></a>
                      <input type="file" name="file" class="form-control has-validation d-none" accept="image/png, image/jpeg" id="logofile">
                  {% endif %}
                </div>
                </div>
                <div class="input-group has-validation mb-3">
                </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <h5 class="mb-3">Название Компание</h5>
                <input type="text" name="title_ru" value="{{ about.title_ru }}" class="form-control has-validation" required="">
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <h5 class="mb-3">Ссылка на карту</h5>
                <input type="text" name="map" value="{{ about.map }}" class="form-control has-validation">
              </div>
          </div>
          
          <div class="col-6">
            <div class="mb-3">
              <h5 class="mb-3">Валюта</h5>
              <input type="text" name="currency" value="{{ about.currency }}" class="form-control has-validation">
            </div>
        </div>

          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Описание RU</label>
            <textarea id="editor1" class="form-control"  name="description_ru">{{ about.description_ru }}</textarea>
          </div>

          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Описание UZ</label>
            <textarea id="editor" class="form-control"  name="description_uz">{{ about.description_uz }}</textarea>
          </div>


            
            </div>
          </div>
          <input type="submit" class="d-none" id="officeedit">
        </form>
      </div>
      </div>
    <!-- @@@@@@@@@@@ About End @@@@@@@@@@@@@@ -->

  </div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card radius-10 w-100 p-4">
      <h4>Добавить Номер Телефона</h4>
      <div class="row mt-3 mb-3">
        <div class="col-9">
          <input type="number" class="form-control phone_input" placeholder="Введите номер телефона">
        </div>
        <div class="col-3">
          <button class="btn btn-primary" onclick="addphone(this.parent)">Добавить</button>
        </div>
      </div>
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody class="phone_table">
            {% for phone in office_phones %}
            <tr style="vertical-align: middle;" class="">
                <td>{{ phone.phone  }}</td>
                <td><button class="btn btn-danger btn-sm" data-id="{{phone.id}}" onclick="deletephone(this)"><ion-icon name="trash-sharp" class="m-0"></ion-icon></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card radius-10 w-100 p-4">
      <h4>Добавить Электронный Почты</h4>
      <div class="row mt-3 mb-3">
        <div class="col-9">
          <input type="email" class="form-control email_input" placeholder="Введите электронныю почта.">
        </div>
        <div class="col-3">
          <button class="btn btn-primary" onclick="addemail(this.parent)">Добавить</button>
        </div>
      </div>
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Почта</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody class="email_table">
            {% for email in office_emails %}
            <tr style="vertical-align: middle;" class="">
                <td>{{ email.email  }}</td>
                <td><button class="btn btn-danger btn-sm" data-id="{{email.id}}" onclick="deleteemail(this)"><ion-icon name="trash-sharp" class="m-0"></ion-icon></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block js_content %}
<script>
  function addphone(element){
    let phone_input = $('.phone_input');
    if (phone_input[0].value == '') {
      phone_input[0].classList.add('border-danger');
    } else {
      fetch("phone/add/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
          phone: phone_input[0].value
        })
        }).then(resp => resp.json()).then(data => {
          phone_input.val('')
          let phone_table = $('.phone_table');
          phone_table.append(
            `  
            <tr style="vertical-align: middle;" class="">
              <td>${data.phone.phone}</td>
              <td><button class="btn btn-danger btn-sm" data-id="${data.phone.id}" onclick="deletephone(this)"><ion-icon name="trash-sharp" class="m-0"></ion-icon></button></td>
            </tr>
          `
          )
        })
    }
  }
  function deletephone(element){
    element.parentNode.parentNode.remove()
    fetch("phone/delete/", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
      },
      body: JSON.stringify({
        phone_id: element.dataset.id
      })
      }).then(resp => resp.json()).then(data => {
        if (data.code == 200) {
        }})
  }

  function addemail(element){
    let email_input = $('.email_input');
    if (email_input[0].value == '' || !email_input[0].value.includes('@')) {
      email_input[0].classList.add('border-danger');
    } else {
      fetch("email/add/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
          email: email_input[0].value
        })
        }).then(resp => resp.json()).then(data => {
          email_input.val('')
          let email_table = $('.email_table');
          email_table.append(
            `  
            <tr style="vertical-align: middle;" class="">
              <td>${data.email.email}</td>
              <td><button class="btn btn-danger btn-sm" data-id="${data.email.id}" onclick="deleteemail(this)"><ion-icon name="trash-sharp" class="m-0"></ion-icon></button></td>
            </tr>
          `
          )
        })
    }
  }
  function deleteemail(element){
    element.parentNode.parentNode.remove()
    fetch("email/delete/", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
      },
      body: JSON.stringify({
        email_id: element.dataset.id
      })
      }).then(resp => resp.json()).then(data => {
        if (data.code == 200) {
        }})
  }

</script>

<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
  ClassicEditor.defaultConfig = { 
    toolbar: { 
      items: [ 
        'heading', 
        '|', 
        'bold', 
        'italic', 
        '|', 
        'bulletedList', 
        'numberedList', 
        '|', 
        'insertTable', 
        '|', 
 
        'undo', 
        'redo' 
      ] 
    }, 
 
    table: { 
      contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'] 
    }, 
    language: 'en' 
  }; 
  ClassicEditor.create(document.querySelector("#editor")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor1")).catch((error) => { 
    console.error(error); 
  });
</script>

<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $(".alert").alert('close'), 6000)
  </script>
{% endblock js_content %}