{% extends 'control/base.html' %}
{% load static %}

{% block title %} Добавить новое наименование| Yola{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'control_products_all' %}">Наименовании</a></li>
<li class="breadcrumb-item active" aria-current="page">Добавить</li>
{% endblock breadcrumb %}
{% block add %}
<div class="ms-auto d-block">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleDangerModal">Удалить</button>
  </div>
</div>
{% endblock add %}

{% block page_title %}Добавить наименование{% endblock page_title %}

{% block content %}
<div class="card">
    <div class="card-body">
      <div class="p-4 border rounded">
        {% if base.code == "edited" %}
        <div class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Категория изменена.</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% elif base.code == "error" %}
        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Есть наименование с таким названием.!</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% endif %}


        <form class="row g-3 needs-validation" action="{% url 'control_discount_edit' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="hidden" name="discount_id" value="{{discount.id}}">
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label">Название Скидка</label>
              <input type="text" name="title" class="form-control" id="validationCustom01" value="{{ discount.title }}" required>
              <div class="invalid-feedback">Пожалуйста, введите название.</div>
            </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Цена</label>
            <div class="input-group has-validation"> 
              <input type="number" value="{{discount.unit}}" name="unit" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value > 100){this.value=100}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <span class="input-group-text" id="inputGroupPrepend">%</span>
              <div class="invalid-feedback">Пожалуйста, </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Изменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block js_content %}

<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="exampleDangerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"><b>Внимание!</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <input type="checkbox" id="checker1"> <label for="checker1">OK</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          <form action="{% url 'control_discount_delete' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="discount_id" value="{{discount.id}}">
              <button type="submit" class="btn btn-outline-danger delete" disabled>Удалить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'control/assets/plugins/input-tags/js/tagsinput.js' %}"></script>
<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'control/assets/plugins/fancy-file-uploader/jquery.ui.widget.js' %}"></script>
<script src="{% static 'control/assets/plugins/fancy-file-uploader/jquery.fileupload.js' %}"></script>
<script src="{% static 'control/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'control/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js' %}"></script>
<script src="{% static 'control/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
<script src="{% static 'control/assets/js/form-file-upload.js' %}"></script>

<script>
  let check = document.querySelector('#checker1')
  check.addEventListener('change' ,  ()=> {
  let remove = document.querySelector('.modal-footer .delete')
  
  if (check.checked) {
  remove.removeAttribute('disabled')
  } else {
  remove.setAttribute('disabled', 'true')
  }
  })
</script>
<script>
  let category_add = document.querySelector('.modal .category_add')

  url_c = '/control/category_add/'
  category_add.addEventListener('click', ()=>{
    let category_title_uz = document.querySelector(".modal input[name='category_title_uz']");
    let category_title_ru = document.querySelector(".modal input[name='category_title_ru']");
    let category_priority = document.querySelector(".modal input[name='category_priority']");
    if (category_title_ru.value != '' && category_title_uz.value != '' && category_priority.value != '' ){
      fetch(url_c, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
            title_uz: category_title_uz.value,
            title_ru: category_title_ru.value,
            priority: category_priority.value
        })
        }).then(resp => resp.json()).then(
          data => {
            if (data.code == 200) {
              let select_option = document.querySelectorAll('.category_select')
              select_option[0].innerHTML += `<option value="${data.category.id}">${data.category.title_ru}</option>`
              select_option[1].innerHTML += `<option value="${data.category.id}">${data.category.title_ru}</option>`
              category_title_uz.value = ''
              category_title_ru.value = ''
              category_priority.value = 1
              let alert_box = document.querySelector('.alert_box')
              alert_box.innerHTML = `
              <div class="alert alert-dismissible fade show py-2 bg-success d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                  </div>
                  <div class="ms-3">
                    <div class="text-white">Категория добавлено</div>
                  </div>
                </div>
              </div>
              `
            }
            else{
              let alert_box = document.querySelector('.alert_box')
              alert_box.innerHTML = `
              <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
                  </div>
                  <div class="ms-3">
                    <div class="text-white">${data.error}</div>
                  </div>
                </div>
              </div>
              `
            }
          }
        )
    } else {
      console.log("Error");
    }
  })


  let subcategory_add = document.querySelector('.modal .subcategory_add')

  url = '/control/subcategory_add/'
  subcategory_add.addEventListener('click', ()=>{
    let subcategory_category = document.querySelector(".modal select[name='subcategory_category']");
    console.log(subcategory_category.value);
    let subcategory_title_uz = document.querySelector(".modal input[name='subcategory_title_uz']");
    let subcategory_title_ru = document.querySelector(".modal input[name='subcategory_title_ru']");
    let subcategory_priority = document.querySelector(".modal input[name='subcategory_priority']");
    if (subcategory_title_ru.value != '' && subcategory_title_uz.value != '' && subcategory_priority.value != '' ){
      fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
            category_id: subcategory_category.value, 
            title_uz: subcategory_title_uz.value,
            title_ru: subcategory_title_ru.value,
            priority: subcategory_priority.value
        })
        }).then(resp => resp.json()).then(
          data => {
            if (data.code == 200) {
              let select_option_subcategory = document.querySelector('.subcategory_select')
              select_option_subcategory.innerHTML += `<option value="${data.subcategory.id}">${data.subcategory.title_ru}</option>`
              subcategory_title_uz.value = ''
              subcategory_title_ru.value = ''
              subcategory_priority.value = 1
              let alert_box = document.querySelector('.alert_box_subcategory')
              alert_box.innerHTML = `
              <div class="alert alert-dismissible fade show py-2 bg-success d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                  </div>
                  <div class="ms-3">
                    <div class="text-white">Подкатегория добавлено</div>
                  </div>
                </div>
              </div>
              `
            }
            else{
              let alert_box = document.querySelector('.alert_box')
              alert_box.innerHTML = `
              <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
                  </div>
                  <div class="ms-3">
                    <div class="text-white">${data.error}</div>
                  </div>
                </div>
              </div>
              `
            }
          }
        )
    } else {
      console.log("Error");
    }
  })


</script>


<script>
  ClassicEditor.defaultConfig = { 
    toolbar: { 
      items: [ 
        'heading', 
        '|', 
        'bold', 
        'italic', 
        '|', 
        'bulletedList', 
        'numberedList', 
        '|', 
        'insertTable', 
        '|', 
 
        'undo', 
        'redo' 
      ] 
    }, 
 
    table: { 
      contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'] 
    }, 
    language: 'en' 
  }; 
  ClassicEditor.create(document.querySelector("#editor")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor1")).catch((error) => { 
    console.error(error); 
  });
  
</script>

<script>
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $(".alert").alert('close'), 6000)
  </script>
{% endblock js_content %}