{% extends 'control/base.html' %}
{% load static %}

{% block title %} | Yola{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Пользователи</li>
{% endblock breadcrumb %}

{% block add %}
<div class="ms-auto d-block">
  <div class="btn-group">
    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#add_modal" class="btn btn-outline-primary" >Добавить</a>
  </div>
</div>
{% endblock add %}

{% block page_title %}Все Заказы{% endblock page_title %}

{% block content %}
<div class="row row-cols-1 row-cols-lg-3 add">
  {% for order_type in ordertypes %}
    <div class="col">
     <div class="card ">
       <div class="card-body">
         <div class="card-header d-flex justify-content-between"><h5>{{ order_type.title_ru }}</h5><a href="javascript:;" class="edit_ordertype" data-id="{{order_type.id}}"><ion-icon name="create-outline" class="m-0" style="font-size: 20px;"></ion-icon></a></div>
         <div class="card-item mt-2 cards-zone" style="padding: 20px;" id="c_ordertype_{{order_type.id}}">
             {% for order in order_type.type_orders %}
             <div class="card card-orders" style="padding: 20px;"  draggable="true" id="c_order_{{order.id}}">
               <div class="d-flex justify-content-between bg-primary p-2 rounded">
                 <div class="text-light">{{ order.account.user.username }}</div>
                 <div class="text-light">{{ order.total_items }} x {{ order.total_price }} {{ base.office.currency }}</div>
                </div>
              </div>
             {% endfor %}
         </div>
        </div>
     </div>
     </div>
     {% endfor %}
     

     <div class="col">
      <div class="card">
        <div class="card-body bg-danger">
          <h5 class="card-header">Отменены</h5>
          <div class="card-item">
              {% for order in order_type.total_orders_droped %}
              <div class="card d-flex justify-content-between">
                  <div class="">{{ order.account.user.username }}</div>
                  <div class="">{{ order.total_items }} x {{ order.total_price }} {{ base.office.currency }}</div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
     <div class="card">
       <div class="card-body bg-success">
         <h5 class="card-header">Выполнено</h5>
         <div class="card-item">
             {% for order in order_type.total_orders_droped %}
             <div class="card d-flex justify-content-between">
                 <div class="">{{ order.account.user.username }}</div>
                 <div class="">{{ order.total_items }} x {{ order.total_price }} {{ base.office.currency }}</div>
             </div>
             {% endfor %}
         </div>
       </div>
     </div>
   </div>
</div>


   <div class="col">
    <!-- Modal -->
    <div class="modal fade" id="add_modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><b>Добавить название этапов</b></h5>
            <input type="hidden" value="">
            <div class="col">
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="alert_box">
            </div>
            <div class="row g-3 needs-validation">
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label">Название тип RU</label>
              <input type="text" name="title_ru" class="form-control" id="validationCustom01" required>
              <div class="invalid-feedback">Пожалуйста, введите название.</div>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
              <button type="submit" class="btn btn-success btn-ordertype-add">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="col">
    <!-- Modal -->
    <div class="modal fade" id="edit_modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><b>Изменить название этапов</b></h5>
            <input type="hidden" value="">
            <button type="button" class="btn btn-danger btn-sm m-0 btn-ordertype-delete" data-bs-dismiss="modal" aria-label="Close"><ion-icon name="trash-outline"></ion-icon></button>
          </div>
          <div class="modal-body">
            <div class="alert_box">
            </div>
            <div class="row g-3 needs-validation">
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label">Название тип RU</label>
              <input type="text" name="title_ru" class="form-control" id="validationCustom01" required>
              <div class="invalid-feedback">Пожалуйста, введите название.</div>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
              <button type="submit" class="btn btn-success btn-ordertype-edit">Изменить</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
  let add_ordertype = document.querySelector('.btn-ordertype-add')
  add_ordertype.addEventListener('click', ()=>{
    let modal_input_title = document.querySelector("#add_modal input[name='title_ru']");
    if (modal_input_title.value != ''){
      let url_f = 'ordertype/create/'
      fetch(url_f, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
            title_ru: modal_input_title.value
        })
        }).then(resp => resp.json()).then(
          data => {
            if (data.code == 200) {
              let card_headers = document.querySelector('.row.row-cols-1.row-cols-lg-3.add')
              card_headers.innerHTML += `
              <div class="col">
               <div class="card">
                 <div class="card-body">
                   <div class="card-header d-flex justify-content-between"><h5>${data.ordertype.title_ru }</h5><a href="javascript:;" class="edit_ordertype" data-id="${data.ordertype.id}"><ion-icon name="create-outline" class="m-0" style="font-size: 20px;"></ion-icon></a></div>
                   <div class="card-item mt-2 cards-zone" style="padding: 20px;" id="c_ordertype_${data.ordertype.id}">
                   </div>
                 </div>
               </div>
               </div>`
              $('#add_modal').modal('hide');
              let btns = document.querySelectorAll('.edit_ordertype');
              btns.forEach(btn =>{
                btn.addEventListener('click', ()=>{
                  let modal_input_id = document.querySelector("#edit_modal input[type='hidden']");
                  let modal_input_title = document.querySelector("#edit_modal input[name='title_ru']");
                  let modal_btn_delete = document.querySelector("#edit_modal button[aria-label='Close']")

                  modal_input_id.value = btn.dataset.id
                  modal_input_title.value = btn.previousElementSibling.innerText
                  console.log(btn.parentElement.nextElementSibling);
                  if (btn.parentElement.nextElementSibling.children.length > 0){
                    modal_btn_delete.setAttribute('disabled', 'true')
                    modal_btn_delete.removeAttribute('data-modal_id')
                    
                  } else {
                    modal_btn_delete.removeAttribute('disabled')
                    modal_btn_delete.setAttribute('data-modal_id', `${btn.dataset.id}`)
                  }

                  $('#edit_modal').modal('toggle');
                  $('#edit_modal').modal('show');
                })
              })
              

              const zones = document.querySelectorAll('.cards-zone');
              const orders = document.querySelectorAll('.card-orders')

              zones.forEach(zone => {
              zone.ondragover = allowDrop;
              })

              function allowDrop(event){
                  event.preventDefault();
              }
              orders.forEach(order => {
                  order.ondragstart = drag;
              })

              function drag(event){
                  event.dataTransfer.setData('order_id', event.target.id)
              }


              zones.forEach(zone => {
                  zone.ondrop = drop;
              })
              function drop(event){
                  let itemId = event.dataTransfer.getData('order_id');
                  let itemTypeId = event.target.id.replace('c_ordertype_', '');
              try {
                  if (itemId.includes('c_order_')){
                      let url_f = 'order/edit/'
                      fetch(url_f, {
                          method: "POST",
                          headers: {
                              "Content-Type": "application/json",
                              "X-CSRFToken": csrftoken
                          },
                          body: JSON.stringify({
                              order_id: itemId.replace('c_order_', ''),
                              ordertype_id: itemTypeId
                          })
                        }).then(resp => resp.json()).then(
                                data => {
                                    if (data.code == 200) {
                                          event.target.append(document.getElementById(itemId))
                                    }
                                    else{}
                                }
                                                          )
                    }
                } catch { }
              }   
              }
              else{}
            }
            )
      } else {console.log("Error");}

  })


</script>

<script>
  let btns = document.querySelectorAll('.edit_ordertype');
  btns.forEach(btn =>{
    btn.addEventListener('click', ()=>{
      let modal_input_id = document.querySelector("#edit_modal input[type='hidden']");
      let modal_input_title = document.querySelector("#edit_modal input[name='title_ru']");
      let modal_btn_delete = document.querySelector("#edit_modal button[aria-label='Close']")

      modal_input_id.value = btn.dataset.id
      modal_input_title.value = btn.previousElementSibling.innerText
      if (btn.parentElement.nextElementSibling.children.length > 0){
        modal_btn_delete.setAttribute('disabled', 'true')
        modal_btn_delete.removeAttribute('data-modal_id')
        
      } else {
        modal_btn_delete.removeAttribute('disabled')
        modal_btn_delete.setAttribute('data-modal_id', `${btn.dataset.id}`)
      }

      $('#edit_modal').modal('toggle');
      $('#edit_modal').modal('show');
    })
  })
  
</script>  
<script>
  let edit_ordertype = document.querySelector('.btn-ordertype-edit')
  edit_ordertype.addEventListener('click', ()=>{
    let modal_input_id = document.querySelector("#edit_modal input[type='hidden']");
    let modal_input_title = document.querySelector("#edit_modal input[name='title_ru']");
    if (modal_input_title.value != ''){
      let url_c = 'ordertype/edit/'
      fetch(url_c, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
            ordertype_id: modal_input_id.value,
            title_ru: modal_input_title.value
        })
        }).then(resp => resp.json()).then(
          data => {
            if (data.code == 200) {
              let title = document.querySelector(`.card-body a[data-id='${data.ordertype.id}']`)
              title.previousElementSibling.innerText = `${data.ordertype.title_ru}`

              $('#edit_modal').modal('hide');
            }
            else{
            }
          }
        )
    } else {
      console.log("Error");
    }

  })
</script>

<script>
  let delete_ordertype = document.querySelector('.btn-ordertype-delete')
  delete_ordertype.addEventListener('click', ()=>{
      let url_d = 'ordertype/delete/'
      fetch(url_d, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
            ordertype_id: delete_ordertype.dataset.modal_id
        })
        }).then(resp => resp.json()).then(
          data => {
            if (data.code == 200) {
              let delete_p = document.querySelector(`.card-body a[data-id='${delete_ordertype.dataset.modal_id}']`)
              delete_p.parentElement.parentElement.parentElement.parentElement.remove()
              
              $('#edit_modal').modal('hide');
              let btns = document.querySelectorAll('.edit_ordertype');
              btns.forEach(btn =>{
                btn.addEventListener('click', ()=>{
                  let modal_input_id = document.querySelector("#edit_modal input[type='hidden']");
                  let modal_input_title = document.querySelector("#edit_modal input[name='title_ru']");
                  modal_input_id.value = btn.dataset.id
                  modal_input_title.value = btn.previousElementSibling.innerText
                  $('#edit_modal').modal('toggle');
                  $('#edit_modal').modal('show');
                })
              })
            }
            else{
            }
          }
        )

  })
</script>

<script>
const zones = document.querySelectorAll('.cards-zone');
const orders = document.querySelectorAll('.card-orders')

zones.forEach(zone => {
  zone.ondragover = allowDrop;
})

function allowDrop(event){
    event.preventDefault();
}
orders.forEach(order => {
  order.ondragstart = drag;
})

function drag(event){
    event.dataTransfer.setData('order_id', event.target.id)
}


zones.forEach(zone => {
  zone.ondrop = drop;
})
function drop(event){
    let itemId = event.dataTransfer.getData('order_id');
    let itemTypeId = event.target.id.replace('c_ordertype_', '');
    try {
      if (itemId.includes('c_order_')){
        let url_f = 'order/edit/'
        fetch(url_f, {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrftoken
          },
          body: JSON.stringify({
              order_id: itemId.replace('c_order_', ''),
              ordertype_id: itemTypeId
          })
          }).then(resp => resp.json()).then(
            data => {
              if (data.code == 200) {
                event.target.append(document.getElementById(itemId))
              }
              else{
              }
            }
          )
      }
    } catch { }
}   
</script>


{% endblock content %}