{% extends 'control/base.html' %}
{% load static %}

{% block title %} Добавить новое наименование| Yola{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'control_products_all' %}">Наименовании</a></li>
<li class="breadcrumb-item active" aria-current="page">Добавить</li>
{% endblock breadcrumb %}
{% block add %}
<div class="ms-auto d-block">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleDangerModal">Удалить</button>
  </div>
</div>
{% endblock add %}
{% block page_title %}Добавить наименование{% endblock page_title %}

{% block content %}
<div class="card">
    <div class="card-body">
      <div class="p-4 border rounded">
        {% if base.code == "edited" %}
        <div class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between" id="alert">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Наименование изменена.</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% elif base.code == "error" %}
        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between" id="alert">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Есть наименование с таким названием.!</div>
            </div>
          </div>
          <h3 class="alert_nums text-light align-self-center">7</h3>
        </div>
        {% endif %}
        {% if product.available is not True %}
        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
            </div>
            <div class="ms-3">
              <div class="text-white">Наименование не видно.</div>
            </div>
          </div>
        </div>
        {% endif %}


        <form class="row g-3 needs-validation" action="{% url 'control_products_edit' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="hidden" name="product_slug" value="{{product.slug}}">

            <div class="col-md-12">
                <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-between">
                  <div class=" shadow text-center">
                    <img src="{{ product.img_min.url }}" alt="..." style="object-fit: cover;" class="rounded" width="300" height="300">
                  </div>
                  </div>
                        
                  <label for="validationCustom01" class="form-label">Изображения </label>
                  <div class="input-group has-validation mb-3">
                    <input type="file" name="file" class="form-control has-validation" accept="image/png, image/jpeg" id="inputGroupFile02">
                  </div>
              </div>
              <div class="col-md-12">
                <label for="validationCustomUsername" class="form-label">Категория</label>
                <div class="input-group has-validation"> 
                <select class="form-select category_select" required name="category_id" aria-label="Default select example" id="validationCustom00">
                  {% for category in categories %}
                    {% if product.category.id == category.id %}
                      <option value="{{category.id}}" selected>{{ category.title_ru }}</option>
                    {% else %}
                      <option value="{{category.id}}">{{ category.title_ru }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <span class="input-group-text" id="inputGroupPrepend"><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#category_add">Нет в списке ? Добавить </a></span>
                <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="validationCustomUsername" class="form-label">Подкатегория</label>
                <div class="input-group has-validation"> 
                <select class="form-select subcategory_select" required name="subcategory_id" aria-label="Default select example" id="validationCustom00">
                  {% for subcategory in subcategories %}
                    {% if product.subcategory.id == subcategory.id %}
                      <option value="{{subcategory.id}}" selected>{{ subcategory.title_ru }}</option>
                    {% else %}
                      <option value="{{subcategory.id}}">{{ subcategory.title_ru }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <span class="input-group-text" id="inputGroupPrepend"><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#subcategory_add">Нет в списке ? Добавить </a></span>
                <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
                </div>
              </div>
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label">Название наименование RU</label>
              <input type="text" name="title_ru" class="form-control" id="validationCustom01" value="{{product.title_ru}}" required>
              <div class="invalid-feedback">Пожалуйста, введите название.</div>
            </div>
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label">Название наименование UZ</label>
              <input type="text" name="title_uz" class="form-control" id="validationCustom01" value="{{product.title_uz}}" required>
              <div class="invalid-feedback">Пожалуйста, введите название. UZ</div>
            </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Приоритет</label>
            <div class="input-group has-validation"> <span class="input-group-text" id="inputGroupPrepend">№</span>
              <input type="number" name="priority" value="{{product.priority}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Цена</label>
            <div class="input-group has-validation"> 
              <input type="number" name="price" value="{{product.price}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <span class="input-group-text" id="inputGroupPrepend">{{base.office.currency}}</span>
              <div class="invalid-feedback">Пожалуйста, укажите цена наименование</div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Скидка</label>
            <div class="input-group has-validation"> 
            <select class="form-select discount_select" name="discount_id" aria-label="Default select example" id="validationCustom00">
              
              <option value="0"></option>
              {% for discount in discounts %}
                {% if product.discount.id == discount.id %}
                  <option value="{{discount.id}}" selected>{{ discount.title }}</option>
                {% else %}
                  <option value="{{discount.id}}">{{ discount.title }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <span class="input-group-text" id="inputGroupPrepend"><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#discount_add">Нет в списке ? Добавить </a></span>
            <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
            </div>
          </div>
          <div class="form-check-danger form-check form-switch">
            <input class="form-check-input" name="available" type="checkbox" {% if product.available %} checked="" {% endif %}>
            <label class="form-check-label" for="flexSwitchCheckCheckedDanger">Вид</label>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Описание RU</label>
              <textarea id="editor" class="form-control" name="description_ru">{{ product.description_ru }}</textarea>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Описание UZ</label>
              <textarea id="editor1" class="form-control" name="description_uz">{{ product.description_uz }}</textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Изменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<div class="card">
  <div class="card-body">
    <div class="p-4 border rounded">
      <div class="row image-zone">
        <div class="col-md-4 col-xl-2 col-sm-6">
          <label for="product_image" class="mr-5">
          <div class="card p-5 d-flex justify-content-center align-items-center" style="background-color: #e5e5e5; cursor:pointer;">
            <div class="card-body d-flex justify-content-center align-items-center">
                  <ion-icon name="image-outline" style="font-size: 40px;"></ion-icon>
              </div>
            </div>
            <input type="file" class="d-none" id="product_image" data-product_id="{{product.id}}">
          </label>
        </div>
        {% for product_image in product.productimage_set.all %}
        <div class="col-md-4 col-xl-2 col-sm-6 mb-3" style='position:relative !important;' style='position:relative;'>
                  <img style='object-fit:cover;' width='170px' src="{{product_image.img_min.url}}" alt="">
                  <button data-id="{{product_image.id}}" onclick="deletefunction(this)" class="btn btn-danger btn-sm delete_product_image" style="position: absolute; top:0; right: 0;">
                    <ion-icon name="trash-sharp" role="img" class="md hydrated m-0" aria-label="trash sharp"></ion-icon>
                  </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js_content %}
<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="exampleDangerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"><b>Внимание!</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <input type="checkbox" id="checker1"> <label for="checker1">OK</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          <form action="{% url 'control_products_delete' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="product_slug" value="{{product.slug}}">
              <button type="submit" class="btn btn-outline-danger delete" disabled>Удалить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="category_add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Добавить новое категория</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert_box">
          </div>
          <div class="row g-3 needs-validation">
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Название категория RU</label>
            <input type="text" name="category_title_ru" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Пожалуйста, введите название.</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Название категория UZ</label>
            <input type="text" name="category_title_uz" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Пожалуйста, введите название.</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Приоритет</label>
            <div class="input-group has-validation"> <span class="input-group-text" id="inputGroupPrepend">№</span>
              <input type="number" name="category_priority" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value.length > 12) {this.value = 0}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success category_add">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="subcategory_add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Добавить новое подкатегория</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert_box_subcategory">
          </div>
          <div class="row g-3 needs-validation">
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Категория</label>
            <div class="input-group has-validation"> 
            <select class="form-select category_select" required name="subcategory_category" aria-label="Default select example" id="validationCustom00">
              {% for category in categories %}
                <option value="{{category.id}}">{{ category.title_ru }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Пожалуйста, укажите категория.</div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Название подкатегория RU</label>
            <input type="text" name="subcategory_title_ru" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Пожалуйста, введите название.</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Название подкатегория UZ</label>
            <input type="text" name="subcategory_title_uz" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Пожалуйста, введите название.</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Приоритет</label>
            <div class="input-group has-validation"> <span class="input-group-text" id="inputGroupPrepend">№</span>
              <input type="number" name="subcategory_priority" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value.length > 12) {this.value = 0}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">Пожалуйста, укажите приоритет.</div>
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success subcategory_add">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="discount_add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Добавить новое подкатегория</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert_box_discount">
          </div>
          <div class="row g-3 needs-validation">
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Название Скидка</label>
            <input type="text" name="discount_title" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Пожалуйста, введите название.</div>
          </div>
        <div class="col-md-12">
          <label for="validationCustomUsername" class="form-label">Цена</label>
          <div class="input-group has-validation"> 
            <input type="number" name="discount_unit" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value > 100){this.value=100}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <span class="input-group-text" id="inputGroupPrepend">%</span>
            <div class="invalid-feedback">Пожалуйста, </div>
          </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-success discount_add">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'control/assets/plugins/input-tags/js/tagsinput.js' %}"></script>
<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'control/assets/js/modal_add.js' %}"></script>

<script>
  let $product_image  = document.querySelector('#product_image');
  
  $product_image.addEventListener('change',function(){
    let data = new FormData()
    data.append('file', this.files[0])
    console.log(this.files[0]);
    data.append('product_id', this.dataset.product_id)
    fetch('/control/product/image/add/', {
      method: "POST",
      headers: {
          "X-CSRFToken": csrftoken
      },
      body: data
      }).then(resp => resp.json()).then(data =>{
          
        let image_zone = $('.image-zone');
        image_zone.append(`
        <div class="col-md-4 col-xl-2 col-sm-6 mb-3" style='position:relative !important;' style='position:relative;'>
                  <img  style='object-fit:cover;' width='170px' src="${data.img}" alt="">
                  <button class="btn btn-danger btn-sm delete_product_image'" data-id=${data.id} onclick='deletefunction(this)' style="position: absolute; top:0; right: 0;">
                    <ion-icon name="trash-sharp" role="img" class="md hydrated m-0" aria-label="trash sharp"></ion-icon>
                  </button>
        </div>`)
        
      },
      this.value = null
      )
});

function deletefunction(element){
  data  = element.dataset.id
  fetch('/control/product/image/delete/', {
  method: "POST",
  headers: {
      "X-CSRFToken": csrftoken
  },
  body: JSON.stringify(
    { product_image_id:data }
  )
  }).then(
    element.parentElement.remove()
  )
}

</script>

<script>
  let check = document.querySelector('#checker1')
  check.addEventListener('change' ,  ()=> {
  let remove = document.querySelector('.modal-footer .delete')
  
  if (check.checked) {
  remove.removeAttribute('disabled')
  } else {
  remove.setAttribute('disabled', 'true')
  }
  })
</script>

<script>
  ClassicEditor.defaultConfig = { 
    toolbar: { 
      items: [ 
        'heading', 
        '|', 
        'bold', 
        'italic', 
        '|', 
        'bulletedList', 
        'numberedList', 
        '|', 
        'insertTable', 
        '|', 
 
        'undo', 
        'redo' 
      ] 
    }, 
 
    table: { 
      contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'] 
    }, 
    language: 'en' 
  }; 
  ClassicEditor.create(document.querySelector("#editor")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor1")).catch((error) => { 
    console.error(error); 
  });
  
</script>

<script>
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $("#alert").alert('close'), 6000)
  </script>
{% endblock js_content %}